// PRINCIPALES
$azulPrimario: #009ade;
$blancoPrimario: #ffffff;

// SECUNDARIOS
$azulSecundario: #0b4f6c;
$blancoSecundario: #eaebed;

// COMPLEMENTARIOS
$negro: #000;
$gris: #626262;

// COLORES ESTADO
$verde: #23c08d;
$warning: #ffb547;
$error: #d40b0b;
$error2: #A10909;
$info: #8c64cf;
